@charset "UTF-8";

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,strong{
    font-weight:inherit;
}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
}
a{
    color:inherit;
    text-decoration:none;
}
em,address{
    font-style:normal;
}
img,picture,video{
    width:100%;
    vertical-align:bottom;
}
ul,ol,li{
    list-style:none;
}
table,tr,td,th,thead,tbody,tfoot{
    border:1px solid black;
    border-collapse: collapse;
}

/* SET */
.clearfix{
    clear:both;
}
.fleft{float:left;}
.fright{float:right;}